/*.row:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.col-md-6:not(:last-child) {
    border-right: 1px solid #ccc;
}
*/
.portrait{
    border-radius: 8px;
    border: 1px solid #000;
    margin-right: 3px;
}

#allowed_entities {
    width: 435px;
    overflow: auto;
    height: 250px;
}

.sidebar-jumbotron {
    padding-left: 38px !important;
    padding-right: 38px !important;
}